@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan-two: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan-two: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-grayish-cyan);
    font-family: 'Space Mono', monospace;
}

.logo-div {
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
}

main {
    background-color: var(--white);
    padding: 1.5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.sect-bill, 
.sect-tip, 
.sect-people {
    margin-bottom: 2rem;
}

.label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: var(--dark-grayish-cyan);
    font-weight: 700;
}

.user-input {
    display: block;
    width: 100%;
    padding: 0.6rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--light-grayish-cyan-two);
    text-align: right;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--very-dark-cyan);
    font-family: 'Space Mono', monospace;
}

.user-input:focus {
    outline: 2px solid var(--strong-cyan);
}

#billAmount {
    background-image: url('./images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 1rem center; 
}

.div-tip-button {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.6rem 1rem;
}

.btn {
    padding: 0.5rem;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--very-dark-cyan);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn:focus {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.btn:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}

.custom-tip {
    padding: 0.5rem;
    padding: 0.6rem 1rem;
    text-align: right;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: var(--light-grayish-cyan-two);
    border-radius: 0.3rem;
    font-size: 1.3rem;
    cursor: pointer; 
    color: var(--very-dark-cyan);
}

.custom-tip:focus {
    outline: 2px solid var(--strong-cyan);
}

#numOfPeople {
    background-image: url('./images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: 1rem center;
}


.sect-amount {
    background-color: var(--very-dark-cyan);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1.3rem;
}

.sect-amount .div-inner {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sect-amount .amount {
    color: var(--white);
    font-weight: 700;
    font-size: 1.1rem;
}

.sect-amount .person-text {
    color: var(--dark-grayish-cyan-two);
    font-weight: 700;
}

.sect-amount .amount-number {
    color: var(--strong-cyan);
    font-weight: 700;
    font-size: 2.2rem;
}

#btnReset {
    padding: 1rem;
    width: 100%;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background-color: hsla(172, 67%, 45%, 30%);
    font-weight: 700;
    color: var(--very-dark-cyan);
    transition: background-color 0.2s ease-in-out;
}

#btnReset:hover {
    background-color: var(--light-grayish-cyan);
}

#btnReset.got-input {
    background-color: var(--strong-cyan);
}

@media(min-width: 1000px) {
    body {
        min-height: 100vh;
    }

    main {
        display: flex;
        justify-content: space-between;
    }

    .div-for-desktop {
        flex-basis: 50%;
    }

    .div-tip-button {
        grid-template-columns: repeat(3, minmax(0, 120px));
    }

    .user-input {
        width: 392px; 
    }

    .sect-amount {
        flex-basis: 50%;
    }

    .sect-amount .amount-number {
        font-size: 2.7rem;
    }

    .sect-amount #btnReset {
        margin-top: 8rem;
    }   

}

@media(min-width: 1100px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-div {
        margin-top: 0;
    }

    main {
        width: 900px;
        margin: auto;
        padding: 1.7rem;
        padding-left: 2.2rem;
        border-radius: 2rem;
    }

    .div-tip-button {
        grid-template-columns: repeat(3, minmax(0, 110px));
    }

    .user-input {
        width: 362px; 
    }
}
